<div class="loginContainer">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <div class="avatarFrameOffline margin-top-15 margin-bottom-15">
                    <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="Imagen de Perfil">
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h3 class="center">
                    Iniciar Sesión
                </h3>
                <p *ngIf="operation=='register'">¿Ya tienes cuenta? Has <a class="linker" (click)="operation='login'">Login</a></p>
                <p *ngIf="operation=='login'">¿No Tienes cuenta? <a class="linker" (click)="operation='register'">Registrarse</a></p>
                <div class="borderedContainer">
                    <input class="form-control margin-bottom-15" type="email" placeholder="Ingrese Email">
                    <input class="form-control margin-bottom-15" type="password" placeholder="Ingrese Contraseña">
                    <input class="form-control margin-bottom-15" *ngIf="operation == 'register'" type="text" placeholder="Ingrese Nick">
                </div>
                <div class="center margin-top-15">
                    <button class="btn btn-primary" *ngIf="operation == 'login'">Iniciar Sesión</button>
                    <button class="btn btn-primary" *ngIf="operation == 'register'">Registrarme</button>
                </div>
            </div>
        </div>
    </div>
</div>