<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            Nueva Solicitud
            <a href="" class="closeButton" (click)="close()">x</a>
        </div>
        <div class="modal-body" style="height:auto;" *ngIf="friendRequest">
            <div class="row">
                <div class="col-md-3">
                    <img [src]="friendRequest.avatar || 'assets/img/generic_avatar.png'" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <b>{{friendRequest.nick}} </b>
                    <small>Te ha enviado esta solicitud</small>
                    <div *ngIf="currentRequest.receiver_message">
                        <h6>Mensaje en solicitud</h6>
                        <p>{{currentRequest.receiver_message}} </p>
                    </div>

                </div>
                <div *ngIf="currentRequest.receiver_message" class="col-md-12">

                </div>
                <hr />
                <div class="col-md-12">
                    <h4>Deseas agregar a esta persona?</h4>
                    <br />
                    <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes">
                    <label for="add-yes">Si quiero agregarlo</label> <br />
                    <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no">
                    <label for="add-no">No quiero agregarlo</label> <br />
                    <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later">
                    <label for="add-later">Quiero agregar más tarde</label> <br />
                </div>

            </div>
        </div>
        <footer class="modal-footer">
            <button class="btn btn-primary" (click)="accept()">Ok</button>
            <button class="btn btn-default" (click)="close()">Cerrar</button>
        </footer>
    </div>
</div>