<div id="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameOnline">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" alt="Imagen de Perfil">
                    </div>
                </div>
                <div class="col">
                    <b>{{user.nick}}</b>
                    <div>
                        <span>{{user.status}}</span>
                        <br />
                        <span>
                            {{user.subnick}}
                        </span> <br />
                        <a (click)="logOut()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded margin-top-15">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" alt="" class="icon" (click)="open(content)">
            </div>
        </div>
        <hr />
        <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
        <div *ngFor="let user of friends | search:query; let i = index" class="display-block margin-bottom-5">
            <span routerLink="/conversation/{{user.uid}}">
                <img class="icon-status" src="../../assets/img/logo_live_{{user.status}}.png" />
                {{user.nick}} - {{user.subnick || 'No Subnick'}}
                <small>{{user.email}}</small>
            </span>

        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Tienes una Solicitud</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <b>Ingresa el email de tu amigo</b>
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail"
                        (keyup.enter)="sendRequest()" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
        </div>
    </ng-template>
</div>